.custom-btn {
  max-width: fit-content;
  height: auto;
  font-size: 13px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: #1fd1f9;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.truncate-10-words {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* display: inline-block; */
  max-width: 170px;
  /* width: 100%;  */
}

.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9 !important;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%) !important;
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: #b621fe;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.mmbox {
  background-color: #eef4f9;
}
/* cards */
.item-card {
  transition: 0.5s;
  color: black !important;
  cursor: pointer;
  text-align: start;
  background-color: #fff;
  /* background: linear-gradient(
    45deg,
    rgba(9, 175, 232, 1) 0%,
    rgba(41, 244, 153, 1) 100%
  ); */
  box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}

.item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.item-card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}
